# IDE
.idea/

# Large data
AudioWAV/
data/AudioWAV/
*.wav

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store
Thumbs.db

# Generated features
*.npy

mel_png/

# PyTorch model checkpoints
*.pt
*.pth
*.ckpt
*.bin

wav2vec2_cremad/
wav2vec_cache/
wav2vec_meanstd_cache/

