# IDE
.idea/

# Large data
AudioWAV/
data/AudioWAV/
*.wav

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store
Thumbs.db

# Generated features
*.npy

mel_png/

# PyTorch model checkpoints
*.pt
*.pth
*.ckpt
*.bin

wav2vec2_cremad/
wav2vec_cache/
wav2vec_meanstd_cache/

mel_npy_test/
mel_npy_train/
mel_npy_val/
mel_new_npy/

wavlm_emb_test/
wavlm_emb_train/
wavlm_emb_val/

